Regression_Projects/Sales_project/*.csv
Regression_Projects/Sales_project/*.xlsx


Regression_Projects/Refinance_Project/*.csv
Regression_Projects/Refinance_Project/*.xlsx
Regression_Projects/Refinance_Project/coeff_values
Regression_Projects/Refinance_Project/*.sav
Regression_Projects/Refinance_Project/*.pkl
Regression_Projects/Refinance_Project/*.pickle
Regression_Projects/Refinance_Project/__pycache__/