Regression_Projects/Sales_project/*.csv
Regression_Projects/Sales_project/*.xlsx


Regression_Projects/Refinance_Project/*.csv
Regression_Projects/Refinance_Project/*.xlsx
Regression_Projects/Refinance_Project/coeff_values